@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

.container-box{
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.container-product{
  display: grid;
  grid-template-columns: repeat(1,minmax(0, 1fr));
  max-width:24rem;
  margin-left: 0;
  margin-right: 0;
  gap: 30px;
}


.each-product{
  border: 1px solid #e4e4e4;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.each-product:hover .img{
  transition-duration: 300ms;
  transform: scale(1.1);
}

.each-product:hover .container-button{
  opacity: 1;
  right:0;
  transition:all 1s;
  
}

.within-product{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-product{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  max-height: 160px;
  transition: all 300ms ease-out;
}

.logo{
  width: 40px;
}

/*------------------Product ADD and View button--------------------------*/

.container-button{
  position: absolute;
  top:0;
  right: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 300ms;
  box-shadow: 0px 0px 20px rgba(103, 105, 124, 0.582);
  /* background-color: rgb(235, 66, 0); */
  margin: 0.7rem;
}

.add-button{
  background-color: rgb(235, 66, 0);
  width:50px;
  height:50px;
  color: white;
  font-size: larger;
  border: 1px solid rgb(235, 66, 0);
}

.eye-button{
  background-color: white;
  width:50px;
  height:50px;
  color:rgb(235, 66, 0);
  font-size: larger;
  border: 1px solid white;
}

.add-button:hover{
  border: 1px solid white;
}

.eye-button:hover{
  border: 1px solid rgb(235, 66, 0);
}

/*--------------------------------------------------*/


.category-text{
  font-size: small;
  text-transform: capitalize;
  color: grey;
  margin-bottom: 0.25rem;
}

.title-text{
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.price-text{
  font-weight: 600;
}

/*---------------------------Sidebar-------------------------------*/

.header1{
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0px 5px 5px rgba(82, 76, 76, 0.555);
}

.header2{
  background-color:none; 
  padding: 1rem 0;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 150ms;
}

.header-element{
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px;
}

.inside-header{
  cursor: pointer;
  display: flex;
  position: relative;
}

.header-amount{
  background-color: red;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  font-size: 12px;
  width: 18px;
  height: 18px;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-shopping{
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: all 1300ms;
  z-index: 1;
  padding: 0 1rem;
}

.fa-shopping-cart{
  font-size: x-large;
  cursor: pointer;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.header-sidebar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(194, 192, 192);
}

.shopping-cart-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.return-arrow{
  cursor: pointer;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items{
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px rgb(156, 156, 156) solid;
}

/*----------bottom Sidebar---------*/



/*--------------------------------------------------*/

/*-----------------------CartItem------------------------------*/

.section-cart{
  display: flex;
  column-gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(196, 196, 196);
  font-weight: 300;
  width: 100%;
}

.container-cart{
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.container-title-and-remove{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-and-remove{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item-title{
  font-size: small;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  max-width: 240px;
}

.cart-item-title:hover{
  text-decoration: underline;
}

.fa-remove{
  color: gray;
  transition: all 300ms;
  font-size: large;
  cursor: pointer;
}

.fa-remove:hover{
  color: red;
}

/*--------qty and pricing----------*/

.qty-and-price{
  display: flex;
  column-gap: 1rem;
  height: 36px;
  font-size: small;
}

.container-qty{
  display: flex;
  flex: 1 1;
  max-width: 100px;
  height: 100%;
  align-items: center;
  color: black;
  font-weight: 400;
  border: 1px solid rgb(189, 189, 189);
}

.fa-minus, .fa-plus{
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: small;
}

.amt{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.price{
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  align-items: center;
}

.final-price{
  display: flex;
  flex: 1 1;
  justify-content: end;
  align-items: center;
  font-weight: 600;
  color: black;
}

/*--------delete from cart----------*/

.container-cart-total{
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  margin-top: 2rem;
}

.fa-trash{
  cursor: pointer;
  background-color: rgb(235, 66, 0);
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.cart-total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.total-amt{
  text-transform: uppercase;
  font-weight: 500;
}

/*--------------------------------------------------*/

/*-----------------------Responsiveness------------------------------*/

/*smallest 640px*/
@media screen and (min-width:640px){
  .container-product{
    grid-template-columns: repeat(1,minmax(0, 1fr));
    max-width:24rem;
  }
}

/*medium 768px*/
@media screen and (min-width:768px){

  .container-product{
    grid-template-columns: repeat(2,minmax(0, 1fr));
    max-width:none;
  }

  .sidebar-shopping{
    width: 35vw;
  }
}

/*medium 1024px*/
@media screen and (min-width:1024px){
  .container-product{
    grid-template-columns: repeat(4,minmax(0, 1fr));
    max-width:none;
  }

  .sidebar-shopping{
    padding: 0 35px;
  }

  .section-cart{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cart-items{
    height: 640px;
  }
}

/*medium 1440px*/
@media screen and (min-width:1440px){
  .container-product{
    grid-template-columns: repeat(5,minmax(0, 1fr));
    max-width:none;
  }

  .sidebar-shopping{
    max-width: 30vw;
  }
}